<%- partial('_partial/bg-cover') %>

<main class="content">
    <div id="card-container" class="container">
        <%- page.content %>

        <div class="wordcloud-container" data-aos="fade-up">
            <img src="/medias/images/wordcloud.png" alt="Word Cloud Placeholder" class="wordcloud-image">
        </div>

        <div class="competition-results-container">
            <% site.data.competition_results.forEach(function(competition) { %>
                <div class="competition-card" data-aos="fade-up">
                    <a href="<%- competition.profile_url %>" target="_blank" rel="noopener noreferrer" class="competition-image-link">
                        <img src="<%- competition.image_path %>" alt="<%- competition.name %>">
                    </a>
                    <div class="competition-text">
                        <a href="<%- competition.profile_url %>" target="_blank" rel="noopener noreferrer">
                            <h3 class="competition-name"><%- competition.name %></h3>
                        </a>
                        <p class="competition-description"><%- competition.description %></p>
                        
                        <% if (competition.awards && competition.awards.length > 0) { %>
                            <div class="awards-list">
                                <ul>
                                    <% competition.awards.forEach(function(award) { %>
                                        <li><strong><%- award.name %>:</strong> <%- award.prize %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</main>
